*{margin: 0;padding: 0;}

header{
    background-color:#F6F6F7;
    line-height: 50px;
    color: #888888
}

.header-content{
 width: 1200px;
 margin: 0 auto;
 text-align:right;
}
.box{
    display: flex;
    width: 1200px; 
    margin: 30px auto 0;
}
.left{
    width: 30%;
    flex: 0 0 auto;
}
img{
    width: 100%;
}

.right{
    padding:10px 60px ;
}
.right .name{
     color: #222222;
     font-size: 24px;
}
.price{
    margin: 20px 0;
    line-height:40px;
    border-top: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    color: #222222;
    font-size: 18px;
    font-weight: 600;
}
.right .star{
    color: #C90000;
}
.dsc,.size{
    color: #888888
}
.size {
    margin-top: 30px;
}
.size p{
    margin: 10px 0;
}
.size p span{
  margin-left: 5px;
}
.size-list span {
    text-align: center;
    border: 1px solid #CCCCCC;
    width: 40px;
    line-height: 40px;
    display: inline-block;
}
.submit{
    margin-top: 20px;
    display: inline-block;
    width: 160px;
    text-align: center;
    line-height: 50px;
    font-weight: 600;
    font-size: 22px;
    padding:0 15px;
    border: 2px solid #222222;    
}


@media screen and (max-width:1200px){
    .box,.header-content{
        width: 100%;
    }
    .header-content{
        padding:0 20px;
        box-sizing: border-box;
    }
}

@media screen and (max-width:968px){
    .right{
        padding: 10px;
    }
}
@media screen and (max-width:600px){
    .box{
      flex-wrap: wrap;
     padding: 4%;
     box-sizing: border-box;
     margin-top: 0;
    }
    .price {
        border: none;
        margin: 8px 0;
    }
    .left,.right{
        width: 100%;
    }
}


.item{
    height: 120px;
    padding: 10px;
    display: flex;
    color: #222222;
}
.item .item-left{
    width: 20%;
    flex: 0 0 auto;
}
.item .item-left img{
height: 100%;
}
.item-right{
    padding:0px 30px ;
    flex: 1;
    text-align: left;
}
.item-right p{
    font-size: 18px;
    line-height: 30px;
}
.item-right div:nth-child(2){
  margin-top: 8px;
}
.item-right div:nth-child(3){
    margin-top: 6px;
  }
  
.item-right div{
    line-height: 26px;
}

.car{
    position: relative;
    width: 100px;
    display: inline-block;
    text-align: center;
    transition: all .2s;
}
.car:hover{
    background-color: #b5d0d4;
    color: #fff;
}
.car-list{
    position: absolute;
    top: 100%;
    width: 300px;
    display: none;
    right: 0;
    background-color: #fff;
    border: 1px solid #CCCCCC;
}
.car.active{
    border:1px solid #CCCCCC;
    border-bottom:none;
    background-color: #fff;
}
.active .car-list{
    display: block;
}
.size-list .active{
    border: 2px solid #222222;  
}